.aboutheader {
    color: #D84040;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.aboutdesc {
    color: #EEEEEE;
    font-size: 20px;
    padding-top: 0px;
}

.bullets {
    margin-top: 5px;
}

.emph {
    font-weight: bold;
    color: #D84040;
}

.projectname {
    font-size: 35px;
    color: #EEEEEE;
}